.TodoSearch{
    background-color: #f9fbfc;
    border: 2px solid rgb(71, 197, 231);
    border-radius: 25px;
    
    height: 40px;
    width: 100%;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Audiowide', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
    color: #d3d3d3;
    box-shadow: 0px, 5px,50px, rgba(120, 136, 168, 0.2);
    background-color: rgba(71, 196, 231, 0.329);
   

    
    

}

.TodoSearch::placeholder{
    color: white;
    font-family: 'Audiowide', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 400;
}

.TodoSearch :focus{
    outline-color: #61DAFA;
}