.TodoCounter{
    font-size: 25px;
    text-transform:capitalize;
    letter-spacing: 2px;
    text-align: center;
    margin: 40px 0 40px;
    padding: 25px;
    border: 2px solid rgb(34,159,195);
    border-radius: 25px;
   

}